SqlServerProject1/Web References/SendMessageWebService/WebServiceInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserLoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditUserPwd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userpwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newpwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditUserPwdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditUserPwdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnUserFullMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnUserFullMoneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReturnUserFullMoneyResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendNote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="handtels" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_sendtime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_smsnumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendNoteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FullMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tomoney" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FullMoneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FullMoneyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NoteBack">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_cid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_userpwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NoteBackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NoteBackResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="auserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nusername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="npwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customertel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerqq" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customeremaill" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sright" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNewUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="EditUserPwdSoapIn">
    <wsdl:part name="parameters" element="tns:EditUserPwd" />
  </wsdl:message>
  <wsdl:message name="EditUserPwdSoapOut">
    <wsdl:part name="parameters" element="tns:EditUserPwdResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnUserFullMoneySoapIn">
    <wsdl:part name="parameters" element="tns:ReturnUserFullMoney" />
  </wsdl:message>
  <wsdl:message name="ReturnUserFullMoneySoapOut">
    <wsdl:part name="parameters" element="tns:ReturnUserFullMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="SendNoteSoapIn">
    <wsdl:part name="parameters" element="tns:SendNote" />
  </wsdl:message>
  <wsdl:message name="SendNoteSoapOut">
    <wsdl:part name="parameters" element="tns:SendNoteResponse" />
  </wsdl:message>
  <wsdl:message name="FullMoneySoapIn">
    <wsdl:part name="parameters" element="tns:FullMoney" />
  </wsdl:message>
  <wsdl:message name="FullMoneySoapOut">
    <wsdl:part name="parameters" element="tns:FullMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="NoteBackSoapIn">
    <wsdl:part name="parameters" element="tns:NoteBack" />
  </wsdl:message>
  <wsdl:message name="NoteBackSoapOut">
    <wsdl:part name="parameters" element="tns:NoteBackResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewUser" />
  </wsdl:message>
  <wsdl:message name="AddNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewUserResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceInterfaceSoap">
    <wsdl:operation name="UserLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">验证用户登陆</wsdl:documentation>
      <wsdl:input message="tns:UserLoginSoapIn" />
      <wsdl:output message="tns:UserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditUserPwd">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改密码</wsdl:documentation>
      <wsdl:input message="tns:EditUserPwdSoapIn" />
      <wsdl:output message="tns:EditUserPwdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnUserFullMoney">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回剩余条数</wsdl:documentation>
      <wsdl:input message="tns:ReturnUserFullMoneySoapIn" />
      <wsdl:output message="tns:ReturnUserFullMoneySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendNote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送短信</wsdl:documentation>
      <wsdl:input message="tns:SendNoteSoapIn" />
      <wsdl:output message="tns:SendNoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FullMoney">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">短信充值，此接口只适合代理用户</wsdl:documentation>
      <wsdl:input message="tns:FullMoneySoapIn" />
      <wsdl:output message="tns:FullMoneySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NoteBack">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">接收回复短信</wsdl:documentation>
      <wsdl:input message="tns:NoteBackSoapIn" />
      <wsdl:output message="tns:NoteBackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">新开用户</wsdl:documentation>
      <wsdl:input message="tns:AddNewUserSoapIn" />
      <wsdl:output message="tns:AddNewUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceInterfaceSoap" type="tns:WebServiceInterfaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUserPwd">
      <soap:operation soapAction="http://tempuri.org/EditUserPwd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnUserFullMoney">
      <soap:operation soapAction="http://tempuri.org/ReturnUserFullMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNote">
      <soap:operation soapAction="http://tempuri.org/SendNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FullMoney">
      <soap:operation soapAction="http://tempuri.org/FullMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NoteBack">
      <soap:operation soapAction="http://tempuri.org/NoteBack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewUser">
      <soap:operation soapAction="http://tempuri.org/AddNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceInterfaceSoap12" type="tns:WebServiceInterfaceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://tempuri.org/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUserPwd">
      <soap12:operation soapAction="http://tempuri.org/EditUserPwd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnUserFullMoney">
      <soap12:operation soapAction="http://tempuri.org/ReturnUserFullMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNote">
      <soap12:operation soapAction="http://tempuri.org/SendNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FullMoney">
      <soap12:operation soapAction="http://tempuri.org/FullMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NoteBack">
      <soap12:operation soapAction="http://tempuri.org/NoteBack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewUser">
      <soap12:operation soapAction="http://tempuri.org/AddNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceInterface">
    <wsdl:port name="WebServiceInterfaceSoap" binding="tns:WebServiceInterfaceSoap">
      <soap:address location="http://jiekou.56dxw.com/WebServiceInterface.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceInterfaceSoap12" binding="tns:WebServiceInterfaceSoap12">
      <soap12:address location="http://jiekou.56dxw.com/WebServiceInterface.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>